<div class="back-tile"></div>
<div class="back-picture"></div>

<div class="header">
  <div class="icon-header">
    <span class="link-topic"><i class="icon-menu-outline"></i></span>
    <span class="link-tags"><i class="icon-tags-1"></i></span>
    <span class="link-calendar"><i class="icon-calendar"></i></span>
  </div>
</div>
