<div class="back-tile"></div>
<div class="back-picture"></div>

<div class="header">
  <div class="site-title">
    <div>yuk<br/>log<i class="icon-moon"></i></div>
  </div>
  <div class="site-info">
    <div>
      <p><b>Welcome&nbsp;to&nbsp;yuklog.</b></p>
      <p>&nbsp;Packages&nbsp;and&nbsp;licenses&nbsp;are&nbsp;
      included&nbsp;in&nbsp;this&nbsp;blog&nbsp;is&nbsp;
      <span class="link link-license">here</span>.</p>

      <p>&nbsp;This&nbsp;blog&nbsp;is&nbsp;
      publishing&nbsp;of&nbsp;contents&nbsp;of&nbsp;
      <span class="link link-gist">Gist</span>.</p>

      <p>&nbsp;&nbsp;&nbsp;&nbsp;*&nbsp;Repository:&nbsp;
      <span class="link link-repos">https://github.com/yukpiz/blog.yukpiz.me</span></p>

      <p>&nbsp;&nbsp;&nbsp;&nbsp;*&nbsp;Contact:&nbsp;
      <span class="link link-twitter">https://twitter.com/yukpiz</span></p>

      <p>&nbsp;System&nbsp;infomation&nbsp;as&nbsp;
      of&nbsp;<span class="now-time"></span></p>

      <p>&nbsp;&nbsp;&nbsp;&nbsp;Domain:&nbsp;
      blog.yukpiz.me</p>

      <p>&nbsp;&nbsp;&nbsp;&nbsp;Memory&nbsp;
      usage:&nbsp;<span class="random-memory">0</span>%
      &nbsp;&nbsp;&nbsp;Swap&nbsp;usage:&nbsp;
      <span class="random-swap">0</span>%</p>

      <p>&gt;&nbsp;yuklog&nbsp;--version</p>

      <p>yuklog&nbsp;v1.0.1</p>

      <p>&gt;&nbsp;<span class="prompt"><b>_</b></span></p>
    </div>
  </div>
  <div class="clear-block"></div>
</div>
