<div class="back-tile"></div>
<div class="back-picture"></div>

<div class="header">
  <div class="home-title">yuklog<i class='icon-moon'></i></div>
  <div class="header-note">
    <p><b>Welcome&nbsp;to&nbsp;yuklog.</b></p>
    <p>&nbsp;Packages and licenses are included in this blog is <a href="">here</a>.</p>
    <p>&nbsp;This blog is publishing of contents of <a href="https://gist.github.com/yukpiz">Gist</a>.</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;*&nbsp;Repository:&nbsp;<a href="https://github.com/yukpiz/blog.yukpiz.me">https://github.com/yukpiz/blog.yukpiz.me</a></p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;*&nbsp;Contact:&nbsp;<a href="https://twitter.com/yukpiz">https://twitter.com/yukpiz</a></p>
    <p>&nbsp;System&nbsp;infomation&nbsp;as&nbsp;of&nbsp;Mon Aug 25 12:47:47 JST 2015</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;Memory&nbsp;usage:&nbsp;34%&nbsp;&nbsp;&nbsp;Swap&nbsp;usage:&nbsp;0%</p>
    <p>&gt;&nbsp;yuklog&nbsp;--version</p>
    <p>yuklog&nbsp;v1.0.1</p>
    <p>&gt;&nbsp;</p>
  </div>
</div>
