<div class="back-tile"></div>
<div class="back-picture"></div>

<%= stylesheet_link_tag('application', 'http://fonts.googleapis.com/css?family=Slabo+27px|Inconsolata') %>

<div class="header">
  <div class="icon-header">
    <span class="link-topic"><i class="icon-menu-outline"></i></span>
    <span class="link-tags"><i class="icon-tags"></i></span>
    <span class="link-calendar"><i class="icon-calendar"></i></span>
  </div>
</div>
