<%= render 'shared/header' %>

<div class="single-article">
  <div class="content">
    <!-- Content of article -->
    <div class="posted"><%= @article.posted %></div>
    <%= @article.html.html_safe %>
  </div>
</div>
