<div class="back-picture"></div>
<div class="back-tile"></div>
<div class="topic-accordion">
  <ul>
    <% @articles.each do |article| %>
      <li>
        <span class="topic-toggle">
          <span><%= article.title %></span>
          <span><%= article.posted %></span>
        </span>
        <ul>
          <div class="content">
            <!-- Content of article -->
            <div class="posted"><%= article.posted %></div>
            <%= article.html.html_safe %>
          </div>
        </ul>
      </li>
    <% end %>
  </ul>
</div>
