.single-article {
  width: 80%;
  margin: 0 auto 0 auto;
  padding: 15px 30px 20px 30px;
  border: solid 3px #dbd9cc;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  background: rgba(0,0,0,0.5);
  color: #c1cbd1;
}
