.single-article {
  width: 80%;
  margin: 0 auto 0 auto;
  padding: 15px 30px 20px 30px;
  background-color: white;
  border: solid 3px lightgray;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
}
