.topic-accordion
{
    width: 70%;
    height: 100%;
    margin: 0 auto 0 auto;
    li {
        height:50px;
        background-color:red;
        list-style: none;
        ul {
            display: none;
        }
    }
}
