.page-content {
  width: 600px;
  height: 50px;
  margin: 30px auto 0 auto;
  text-align: center;

  .left-page-content {
    text-align: right;
    width: 20%;
    height: 100%;
    float: left;
  }

  .center-page-content {
    width: 60%;
    height: 100%;
    float: left;
  }

  .right-page-content {
    text-align:left;
    width: 20%;
    height: 100%;
    float: left;
  }

  span {
    margin: 0 5px 0 5px;
    padding: 10px 15px 10px 15px;
    font-size: 1em;
    color: #ffffff;
    border: solid 3px #ffffff;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    opacity: 0.5;
    background: rgba(0,0,0,0.4);
  }

  .link-page, .link-enable {
    cursor: pointer;
    &:hover {
      color: #3b5260;
      background: #dbe1e5;
    }
  }

  .link-disable {
    opacity: 0.2;
  }

  .active-page {
    color: #3b5260;
    background: #dbe1e5;
  }
}

.topic-content {
  width: 80%;
  margin: 0 auto 0 auto;

  .article-link {
    width: 100%;
    height: 45px;
    border: solid 3px #ffffff;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    display: inline-block;
    background: rgba(0,0,0,0.4);
    color: #ffffff;
    margin: 5px 0 5px 0;
    padding: 10px 10px 10px 10px;
    opacity: 0.6;
    cursor: pointer;

    &:hover {
      color: #3b5260;
      background: #dbe1e5;
    }

    .line1 {
      margin: 0 0 10px 0;
    }

    .article-title {

      .random_emoticon {
        margin: 0 5px 0 0;
      }

      font-size: 14pt;
      font-weight: bold;
    }

    .article-posted {
      margin: 0 10px 0 10px;
      font-size: 10pt;

      &:hover {
        color: #16384d;
        text-decoration: underline;
      }
    }

    .article-tag {
      font-size: 10pt;

      &:hover {
        color: #16384d;
        text-decoration: underline;
      }
    }

    .article-id {
      display: none;
    }
  }
}
