.topic-accordion {
  display:block;
  width:80%;
  margin: 0 auto;
  li {
    list-style:none;
  }
  a,
  .topic-toggle {
    height:50px;
    line-height:50px;
    display:block;
    position:relative;
    padding-left:20px;
    margin-top:10px;
    text-decoration:none;
    font-size:9pt;
    -webkit-border-radius:7px;
    -moz-border-radius:7px;
    border-radius:7px;
    border-top:solid 1px #ccc;
    background-color: white;
    color: #333333;
    cursor: pointer;
    -webkit-transition: .2s ease-in-out;
    &:hover {
      background-color:#eee;
    }
  }
  .topic-toggle.toggle-open{
    -webkit-border-bottom-left-radius:0px;
    -moz-border-bottom-left-radius:0px;
    border-bottom-left-radius:0px;
    -webkit-border-bottom-right-radius:0px;
    -moz-border-bottom-right-radius:0px;
    border-bottom-right-radius:0px;
  }

  .topic-toggle {
    &:after {
      display:block;
      content:"";
      width:5px;
      height:5px;
      position:absolute;
      top:50%;
      right:10px;
      margin-top:-5px;
      border-top: solid 3px #333;
      border-right: solid 3px #333;
      transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
      -webkit-transition: .2s ease-in-out;
    }
    &.open:after {
      transform: rotate(135deg);
      -webkit-transform: rotate(135deg);
    }
  }
  li ul {
    display: none;
    padding:10px 10px 10px 10px;
    font-size:small;
    overflow:hidden;
    background-color: white;
    li {
      a {
        line-height:40px;
        color:#fff;
        &:after {
          display:none;
        }
        &:hover {
          background-color:#666;
        }
      }
    }
  }
}
