.topic-content {
  width: 80%;
  margin: 0 auto 0 auto;
  background-color: #f4f3ec;
  padding: 0;
  border: solid 3px #d6e4e5;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;

  .topic-content-head {
    height: 50px;
  }

  ul {
    padding: 0;
    margin: 0;

    .article-link {
      height: 60px;
      line-height: 25px;
      cursor: pointer;
      padding: 5px 20px 0 20px;
      border: solid 1px #d6e4e5;
      margin-top: -1px;
      &:hover {
        background-color: #cccabd;
      }
    }

    li {
      list-style-type: none;
      .article-title {
        font-size: 11pt;
        font-weight: bold;
      }

      .article-posted {
        font-size: 10pt;
        color: #a5a5a5;
      }

      .article-tag {
        font-size: 10pt;
        color: #a5a5a5;
      }

      .article-id {
        display: none;
      }
    }
  }

  .topic-content-foot {
    height: 50px;
  }
}
