
.icon-twitter:before { content: '\e800'; } /* '' */
.icon-github:before { content: '\e801'; } /* '' */
.icon-calendar:before { content: '\e802'; } /* '' */
.icon-heart-filled:before { content: '\e803'; } /* '' */
.icon-location-inv:before { content: '\e804'; } /* '' */
.icon-pen:before { content: '\e805'; } /* '' */
.icon-mail:before { content: '\e806'; } /* '' */
.icon-star-empty:before { content: '\e807'; } /* '' */
.icon-terminal:before { content: '\e808'; } /* '' */
.icon-gmail:before { content: '\e809'; } /* '' */
.icon-keyboard:before { content: '\e80a'; } /* '' */
.icon-laptop:before { content: '\e80b'; } /* '' */
.icon-language:before { content: '\e80c'; } /* '' */
.icon-comment-empty:before { content: '\e80d'; } /* '' */
.icon-emo-happy:before { content: '\e80e'; } /* '' */
.icon-emo-wink:before { content: '\e80f'; } /* '' */
.icon-emo-wink2:before { content: '\e810'; } /* '' */
.icon-emo-unhappy:before { content: '\e811'; } /* '' */
.icon-emo-sleep:before { content: '\e812'; } /* '' */
.icon-emo-thumbsup:before { content: '\e813'; } /* '' */
.icon-emo-tongue:before { content: '\e814'; } /* '' */
.icon-emo-coffee:before { content: '\e815'; } /* '' */
.icon-emo-grin:before { content: '\e816'; } /* '' */
.icon-emo-laugh:before { content: '\e817'; } /* '' */
.icon-firefox:before { content: '\e818'; } /* '' */
.icon-chrome:before { content: '\e819'; } /* '' */
.icon-opera:before { content: '\e81a'; } /* '' */
.icon-ie:before { content: '\e81b'; } /* '' */
.icon-mail-alt:before { content: '\e81c'; } /* '' */
.icon-search:before { content: '\e81d'; } /* '' */
.icon-tags:before { content: '\e81e'; } /* '' */
.icon-tags-1:before { content: '\e81f'; } /* '' */
.icon-list-bullet:before { content: '\e820'; } /* '' */
.icon-list:before { content: '\e821'; } /* '' */
.icon-list-numbered:before { content: '\e822'; } /* '' */
.icon-th-list:before { content: '\e823'; } /* '' */
.icon-menu-outline:before { content: '\e824'; } /* '' */
.icon-doc-text:before { content: '\e825'; } /* '' */
.icon-doc-text-inv:before { content: '\e826'; } /* '' */
.icon-left-big:before { content: '\e827'; } /* '' */
.icon-right-big:before { content: '\e828'; } /* '' */
.icon-right-hand:before { content: '\e829'; } /* '' */
.icon-left-hand:before { content: '\e82a'; } /* '' */
.icon-paw:before { content: '\e82b'; } /* '' */
.icon-pagelines:before { content: '\e82c'; } /* '' */
.icon-snow:before { content: '\e82d'; } /* '' */
.icon-emo-devil:before { content: '\e82e'; } /* '' */
.icon-emo-surprised:before { content: '\e82f'; } /* '' */
.icon-emo-sunglasses:before { content: '\e830'; } /* '' */
.icon-emo-displeased:before { content: '\e831'; } /* '' */
.icon-emo-beer:before { content: '\e832'; } /* '' */
.icon-emo-angry:before { content: '\e833'; } /* '' */
.icon-emo-saint:before { content: '\e834'; } /* '' */
.icon-emo-cry:before { content: '\e835'; } /* '' */
.icon-emo-shoot:before { content: '\e836'; } /* '' */
.icon-emo-squint:before { content: '\e837'; } /* '' */
.icon-angle-left:before { content: '\e838'; } /* '' */
.icon-angle-right:before { content: '\e839'; } /* '' */
.icon-angle-double-right:before { content: '\e83a'; } /* '' */
.icon-angle-double-left:before { content: '\e83b'; } /* '' */
.icon-facebook-squared:before { content: '\e83c'; } /* '' */
.icon-gplus-squared:before { content: '\e83d'; } /* '' */
.icon-twitter-squared:before { content: '\e83e'; } /* '' */